/* Notice.css */
.notice-container {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px;
    border-top: 2px solid #f4f4f4;
    border-bottom: 2px solid #f4f4f4;
    margin: 0 20px;
    border-radius:10px;
  }
  
  .marquee {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
  }
  
  .marquee span {
    display: inline-block;  
    color: #ff0000;  
  }
  
  @keyframes scroll {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  