/* ProductionLinks.css */
.production-links {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 20px 10px 20px;
    background-color: #f4f4f4;
    margin: 20px;
    border-radius: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    flex: 1;
    min-width: 200px;
    text-align: center;
  }
  
  .card h3 {
    margin-bottom: 10px;
  }
  
  .card a {
    color: #007bff;
    text-decoration: none;
  }
  
  .card a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .card {
      margin: 10px auto;
    }
  }
  