/* Styles for the top navbar */
.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0; /* Change as needed */
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the navbar stays on top of other content */
    border-bottom: 1px solid #ddd; /* Optional: add a border at the bottom */
  }
  
  /* Logo styles */
  .logo-left,
  .logo-right {
    height: 70px; /* Adjust as needed */
    width: auto;
  }
  
  .logo-center {
    color: rgb(4, 6, 92);
    font-size: 36pt;
    font-weight: 700;
    font-style: normal;
    font-family: Stencil, fantasy;
    text-decoration: underline;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .top-navbar {
      flex-direction: row;
      text-align: center;
    }
  
    .logo-left,
    .logo-right {
      height: 40px; /* Adjust as needed for smaller screens */
    }
  
    .logo-center {
      margin: 10px 0;
      font-size: 18pt;
    }
  }
  